{{define "log/list.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>操作日志</title>
        {{template "head.html"}}
    </head>
    <body>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body">
                <div style="padding-bottom: 10px;">
                    <table>
                        <tr>
                            <td colspan="3">
                                <input id="accountName" type="text" name="accountName" required lay-verify="required"
                                       placeholder="请输入账号名" autocomplete="off" class="layui-input">
                            </td>
                            <td>
                                <button id="queryBtn" class="layui-btn" data-type="batchdel">查询</button>
                            </td>
                        </tr>
                    </table>

                </div>
                <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
            </div>
        </div>
    </div>

    <script>
        layui.config({
            base: '/static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table'], function () { //use('contlist') 则会加载static/modules/的js文件
            let table = layui.table, $ = layui.$;

            table.render({
                elem: "#LAY-app-content-list",
                url: "data",  //加载json数据
                cols: [[
                    {field: "id", width: 100, title: "操作ID"},
                    {field: "accountId", title: "帐号ID", minWidth: 100},
                    {field: "accountName", title: "帐号名", minWidth: 100},
                    {field: "method", title: "执行方法"},
                    {field: "path", title: "执行路径"},
                    {field: "params", title: "请求参数"},
                    {field: "ip", title: "访问ip"},
                    {
                        field: "createTime", title: "创建时间", templet: function (d) {
                            return layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')
                        }
                    },
                ]],
                page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                    layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']//自定义分页布局
                    , limit: 10
                    , limits: [10, 15, 20, 25, 30]
                },
                text: {
                    none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
                }
            });

            $("#queryBtn").on("click", function () {
                table.reload('LAY-app-content-list', {
                    where: {
                        accountName: $("#accountName").val()
                    }
                });
            });
        });
    </script>

    </body>
    </html>
{{end}}
